<div class="menu-bar">
   <div class="menu-inner">
    <span class="menu-item">
        
<svg class="home" width="42px" height="52px" viewBox="0 0 42 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M20.937,2.33 C20.186,2.33 19.435,2.61 18.853,3.171 L2.854,18.615 C2.268,19.18 1.937,19.96 1.937,20.773 L1.937,46.607 C1.937,48.263 3.28,49.607 4.937,49.607 L14.395,49.607 C16.051,49.607 17.395,48.263 17.395,46.607 L17.395,36.104 C17.395,34.151 18.984,32.563 20.937,32.563 C22.889,32.563 24.478,34.151 24.478,36.104 L24.478,46.608 C24.478,48.264 25.821,49.608 27.478,49.608 L36.937,49.608 C38.594,49.608 39.937,48.264 39.937,46.608 L39.937,20.773 C39.937,19.96 39.606,19.18 39.02,18.614 L23.02,3.171 C22.438,2.61 21.688,2.33 20.937,2.33 Z" id="Shape" stroke="#B4B4B4" stroke-width="3" fill-rule="nonzero"></path>
    </g>
</svg>
    </span>
    <span class="menu-item">
        
<svg class="mail" width="24px" height="12px" viewBox="0 0 24 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" fill="#000000" fill-rule="nonzero">
            <path d="M18.622,11.5 L5.453,11.5 C4.955,11.5 4.49,11.254 4.211,10.841 C3.932,10.428 3.875,9.905 4.061,9.443 L7.01,2.072 C7.392,1.117 8.302,0.5 9.33,0.5 L22.499,0.5 C22.997,0.5 23.462,0.747 23.741,1.159 C24.02,1.571 24.077,2.094 23.891,2.557 L20.942,9.928 C20.561,10.883 19.651,11.5 18.622,11.5 Z M9.33,1.5 C8.714,1.5 8.167,1.87 7.937,2.443 L4.988,9.814 C4.925,9.971 4.944,10.141 5.039,10.28 C5.134,10.419 5.284,10.5 5.453,10.5 L18.622,10.5 C19.238,10.5 19.785,10.13 20.015,9.557 L22.964,2.186 C23.027,2.029 23.008,1.859 22.913,1.72 C22.818,1.581 22.668,1.5 22.499,1.5 L9.33,1.5 Z" id="Shape"></path>
            <path d="M14.002,6.506 C13.238,6.506 12.487,6.255 11.862,5.768 L9.168,3.374 C8.961,3.19 8.942,2.874 9.126,2.668 C9.311,2.461 9.627,2.442 9.832,2.626 L12.501,5 C13.219,5.558 14.212,5.669 15.068,5.271 L20.268,2.557 C20.512,2.431 20.816,2.524 20.943,2.769 C21.071,3.014 20.976,3.316 20.731,3.444 L15.51,6.168 C15.025,6.395 14.511,6.506 14.002,6.506 Z" id="Shape"></path>
            <path d="M6.5,9.5 C6.302,9.5 6.114,9.381 6.036,9.186 C5.933,8.93 6.057,8.639 6.314,8.536 L11.314,6.536 C11.57,6.432 11.861,6.558 11.963,6.815 C12.065,7.072 11.942,7.362 11.685,7.465 L6.685,9.465 C6.625,9.489 6.562,9.5 6.5,9.5 Z" id="Shape"></path>
            <path d="M18.5,9.5 C18.39,9.5 18.28,9.464 18.187,9.391 L15.687,7.391 C15.471,7.218 15.437,6.904 15.609,6.688 C15.783,6.472 16.096,6.438 16.312,6.61 L18.812,8.61 C19.028,8.783 19.062,9.097 18.89,9.313 C18.792,9.436 18.647,9.5 18.5,9.5 Z" id="Shape"></path>
            <path d="M4.5,2.5 L0.5,2.5 C0.224,2.5 0,2.276 0,2 C0,1.724 0.224,1.5 0.5,1.5 L4.5,1.5 C4.777,1.5 5,1.724 5,2 C5,2.276 4.777,2.5 4.5,2.5 Z" id="Shape"></path>
            <path d="M1.5,10.5 L0.5,10.5 C0.224,10.5 0,10.276 0,10 C0,9.724 0.224,9.5 0.5,9.5 L1.5,9.5 C1.777,9.5 2,9.724 2,10 C2,10.276 1.777,10.5 1.5,10.5 Z" id="Shape"></path>
            <path d="M2.5,6.5 L0.5,6.5 C0.224,6.5 0,6.276 0,6 C0,5.724 0.224,5.5 0.5,5.5 L2.5,5.5 C2.777,5.5 3,5.724 3,6 C3,6.276 2.777,6.5 2.5,6.5 Z" id="Shape"></path>
        </g>
    </g>
</svg>
    </span>
   </div>
</div>

        <button class="follow">FOLLOW £8.99 <span>(per month)</span></button>

<div class="full-width-bg">
       <div class="inner-grid">
            <div class="profile">
        <img class="avatar" src="images/cat5.jpg" alt="">
        <p>I'm a London-based cat about town!</p>
    </div>
    <ul class="follower-count">
        <li>200 FOLLOWERS</li>
        <li>20 VIDEOS</li>
        <li>45 PHOTOS</li>
    </ul>
       </div>
</div>

    <div class="grid">

        <div class="tip-container hide-mobile">
                <button class="tip">leave tip</button>

        </div>

        <div class="tags hide-mobile">
            <button>hairless</button>
            <button>black</button>
            <button>persian</button>
            <button>siamese</button>
        </div>
        
        <div class="media-container">
                <img src="images/cat1.jpg" alt="">
                <div class="media-buttons">
                    <button><svg width="90px" height="76px" viewBox="0 0 90 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M45.005,75.85 C45.002,75.85 44.997,75.85 44.995,75.85 C36.953,75.84 -0.007,50.166 -0.007,23.108 C-0.007,10.448 10.292,0.15 22.951,0.15 C33.493,0.15 40.866,8.138 45,14.341 C49.135,8.138 56.508,0.15 67.051,0.15 C79.709,0.15 90.008,10.448 90.008,23.108 C90.008,50.166 53.047,75.84 45.005,75.85 Z M22.95,8.675 C14.993,8.675 8.517,15.149 8.517,23.108 C8.517,44.703 39.453,65.596 44.999,67.266 C50.546,65.596 81.482,44.704 81.482,23.108 C81.482,15.149 75.005,8.675 67.05,8.675 C55.868,8.675 48.995,24.599 48.929,24.76 C48.261,26.336 46.712,27.366 45.002,27.366 C44.997,27.366 44.995,27.366 44.993,27.366 C43.278,27.362 41.73,26.332 41.068,24.751 C41.004,24.6 34.131,8.675 22.95,8.675 Z" id="Shape" fill="var(--gray)" fill-rule="nonzero"></path>
                        </g>
                    </svg></button>
                    <button>
              
        
                        <svg width="90px" height="78px" viewBox="0 0 90 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M45,4.11 C22.48,4.11 4.17,19.11 4.17,37.63 C4.17,46.4 8.23,54.63 15.63,60.92 L12.81,72 C12.6793443,72.5424815 12.8606098,73.1126524 13.2805429,73.4800938 C13.700476,73.8475353 14.2896629,73.9515102 14.81,73.75 L28.12,68.15 C33.5122203,70.149048 39.2191737,71.1651228 44.97,71.15 C67.49,71.15 85.8,56.15 85.8,37.63 C85.8,19.11 67.52,4.11 45,4.11 Z" id="Shape" stroke="var(--gray)" stroke-width="7" fill-rule="nonzero"></path>
                            </g>
                        </svg> 
                    </button>
                </div>
                <p>I lick your face 👅</p>
            </div>
        
            <div class="media-container">
                    <img src="/images/cat2.png" alt="">
                    <div class="media-buttons">
                        <button><svg width="90px" height="76px" viewBox="0 0 90 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M45.005,75.85 C45.002,75.85 44.997,75.85 44.995,75.85 C36.953,75.84 -0.007,50.166 -0.007,23.108 C-0.007,10.448 10.292,0.15 22.951,0.15 C33.493,0.15 40.866,8.138 45,14.341 C49.135,8.138 56.508,0.15 67.051,0.15 C79.709,0.15 90.008,10.448 90.008,23.108 C90.008,50.166 53.047,75.84 45.005,75.85 Z M22.95,8.675 C14.993,8.675 8.517,15.149 8.517,23.108 C8.517,44.703 39.453,65.596 44.999,67.266 C50.546,65.596 81.482,44.704 81.482,23.108 C81.482,15.149 75.005,8.675 67.05,8.675 C55.868,8.675 48.995,24.599 48.929,24.76 C48.261,26.336 46.712,27.366 45.002,27.366 C44.997,27.366 44.995,27.366 44.993,27.366 C43.278,27.362 41.73,26.332 41.068,24.751 C41.004,24.6 34.131,8.675 22.95,8.675 Z" id="Shape" fill="var(--gray)" fill-rule="nonzero"></path>
                            </g>
                        </svg></button>


                        <button>
                            <svg width="90px" height="78px" viewBox="0 0 90 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M45,4.11 C22.48,4.11 4.17,19.11 4.17,37.63 C4.17,46.4 8.23,54.63 15.63,60.92 L12.81,72 C12.6793443,72.5424815 12.8606098,73.1126524 13.2805429,73.4800938 C13.700476,73.8475353 14.2896629,73.9515102 14.81,73.75 L28.12,68.15 C33.5122203,70.149048 39.2191737,71.1651228 44.97,71.15 C67.49,71.15 85.8,56.15 85.8,37.63 C85.8,19.11 67.52,4.11 45,4.11 Z" id="Shape" stroke="var(--gray)" stroke-width="7" fill-rule="nonzero"></path>
                                </g>
                            </svg> 
                        </button>
                    </div>
                    <p>nom nom nom 🍌</p>
                </div>
            
                <div class="media-container">
                        <img src="/images/cat3.jpg" alt="">
                        <div class="media-buttons">
                            <button><svg width="90px" height="76px" viewBox="0 0 90 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M45.005,75.85 C45.002,75.85 44.997,75.85 44.995,75.85 C36.953,75.84 -0.007,50.166 -0.007,23.108 C-0.007,10.448 10.292,0.15 22.951,0.15 C33.493,0.15 40.866,8.138 45,14.341 C49.135,8.138 56.508,0.15 67.051,0.15 C79.709,0.15 90.008,10.448 90.008,23.108 C90.008,50.166 53.047,75.84 45.005,75.85 Z M22.95,8.675 C14.993,8.675 8.517,15.149 8.517,23.108 C8.517,44.703 39.453,65.596 44.999,67.266 C50.546,65.596 81.482,44.704 81.482,23.108 C81.482,15.149 75.005,8.675 67.05,8.675 C55.868,8.675 48.995,24.599 48.929,24.76 C48.261,26.336 46.712,27.366 45.002,27.366 C44.997,27.366 44.995,27.366 44.993,27.366 C43.278,27.362 41.73,26.332 41.068,24.751 C41.004,24.6 34.131,8.675 22.95,8.675 Z" id="Shape" fill="var(--gray)" fill-rule="nonzero"></path>
                                </g>
                            </svg></button>
                            <button>
                      
                
                                <svg width="90px" height="78px" viewBox="0 0 90 78" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path d="M45,4.11 C22.48,4.11 4.17,19.11 4.17,37.63 C4.17,46.4 8.23,54.63 15.63,60.92 L12.81,72 C12.6793443,72.5424815 12.8606098,73.1126524 13.2805429,73.4800938 C13.700476,73.8475353 14.2896629,73.9515102 14.81,73.75 L28.12,68.15 C33.5122203,70.149048 39.2191737,71.1651228 44.97,71.15 C67.49,71.15 85.8,56.15 85.8,37.63 C85.8,19.11 67.52,4.11 45,4.11 Z" id="Shape" stroke="var(--gray)" stroke-width="7" fill-rule="nonzero"></path>
                                    </g>
                                </svg> 
                            </button>
                        </div>
                    </div>
        
            

    </div>

<button class="more">More</button>


<script>
    var moreButton = document.querySelector('.more');
    var container = document.querySelector('.grid');

    function getMorePosts() {
        fetch('/more')
        .then(response => response.text())
        .then((markup) => {
            var div = document.createElement('div');
            div.classList.add('media-container');
            div.innerHTML = markup;
            container.append(div);
        })
    }

    moreButton.addEventListener('click', getMorePosts)
</script>